* {
    margin: 0;
    box-sizing: border-box;
}

#playSpace{
    display: flex;
}

#game {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    position: relative;
}

#board {
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
    position: absolute;
    background-color: aquamarine;
}

.playerSpace {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 200px;
    height: 500px;
    border: 1px solid black;
}

.playerSpace .feline {
    width: 62.5px;
    height: 62.5px;
    margin: 5px;
    position: static;
}

.feline {
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: top 1s, left 1s;
    border: 5px solid rgb(126, 126, 126);
}

.player-0 {
    background-color: orange;
    border: 5px solid grey
}

.player-1 {
    background-color: grey;
    border: 5px solid orange;
}

.kitten {
    background-image: url('../assets/kitten.png');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}

.cat {
    background-image: url('../assets/cat.png');
    background-size: 69%;
    background-repeat: no-repeat;
    background-position: center;
}